name: Release

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  create_release:
    runs-on: ubuntu-latest
    outputs:
      release_id: ${{ steps.create_release.outputs.id }}
      upload_url: ${{ steps.create_release.outputs.upload_url }}
    steps:
      - uses: actions/checkout@v4
      - name: Create Release
        id: create_release
        uses: ncipollo/release-action@v1
        with:
          body: "See the [Full Changelog](https://github.com/${{ github.repository }}/blob/main/CHANGELOG.md)"

  ################################################################################
  #                                                                              #
  #                                   Docker                                     #
  #                                                                              #
  ################################################################################

  release_docker_server_debug_image:
    needs: [create_release]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Docker login
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Make the build
        run: |
          curl https://github.com/efroemling/ballistica/releases/latest/download/linux_x86_64_server_debug.tar -L -o linux_x86_64_server_debug.tar
          tar -xf linux_x86_64_server_debug.tar 
          mv build/prefab/full/linux_x86_64_server/debug/ bs_server
          docker build -t bombsquad_egg:latest -f Dockerfile .
          docker save bombsquad_egg:latest -o bombsquad_server_egg_x86_64.tar
      # - name: Zip the build
      #   run: zip -j bombsquad_server_egg_x86_64.tar.zip bombsquad_server_egg_x86_64.tar
      - name: Upload the build
        uses: ncipollo/release-action@v1
        with:
          allowUpdates: true
          omitBody: true
          artifacts: bombsquad_server_egg_x86_64.tar
      - name: Push to github image repository
        run: |
          docker tag bombsquad_egg:latest ghcr.io/${GITHUB_REPOSITORY,,}/bombsquad_egg:debug_${{ github.ref_name }}_x86_64
          docker push ghcr.io/${GITHUB_REPOSITORY,,}/bombsquad_egg:debug_${{ github.ref_name }}_x86_64

  release_docker_arm64_server_release_image:
    runs-on: ubuntu-24.04-arm
    steps:
      - uses: actions/checkout@v4
      - name: Docker login
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Make the build
        run: |
          curl https://github.com/efroemling/ballistica/releases/latest/download/linux_arm64_server_debug.tar -L -o linux_arm64_server_debug.tar
          tar -xf linux_arm64_server_debug.tar 
          mv build/prefab/full/linux_arm64_server/debug/ bs_server
          docker build -t bombsquad_egg:latest -f Dockerfile .
          docker save bombsquad_egg:latest -o bombsquad_server_egg_arm64.tar
      # - name: Zip the build
      #   run: zip -j bombsquad_server_egg_arm64.tar.zip bombsquad_server_egg_arm64.tar
      - name: Upload the build
        uses: ncipollo/release-action@v1
        with:
          allowUpdates: true
          omitBody: true
          artifacts: bombsquad_server_egg_arm64.tar
      - name: Push to github image repository
        run: |
          docker tag bombsquad_egg:latest ghcr.io/${GITHUB_REPOSITORY,,}/bombsquad_egg:debug_${{ github.ref_name }}_arm64
          docker push ghcr.io/${GITHUB_REPOSITORY,,}/bombsquad_egg:debug_${{ github.ref_name }}_arm64
  
  # manifest_docker_server_multiarch:
  #   needs:
  #     [
  #       release_docker_server_debug_image,
  
  #       release_docker_arm64_server_release_image,
  #     ]
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Login to GHCR
  #       uses: docker/login-action@v3
  #       with:
  #         registry: ghcr.io
  #         username: ${{ github.repository_owner }}
  #         password: ${{ secrets.GITHUB_TOKEN }}

  #     - name: Create manifest
  #       run: |
  #         docker manifest create ghcr.io/${GITHUB_REPOSITORY,,}/bombsquad_egg:${{ github.ref_name }} \
  #           --amend ghcr.io/${GITHUB_REPOSITORY,,}/bombsquad_egg:debug_${{ github.ref_name }}_x86_64 \
  #           --amend ghcr.io/${GITHUB_REPOSITORY,,}/bombsquad_egg:debug_${{ github.ref_name }}_arm64
  #         docker manifest push ghcr.io/${GITHUB_REPOSITORY,,}/bombsquad_egg:${{ github.ref_name }}
  #         docker manifest create ghcr.io/${GITHUB_REPOSITORY,,}/bombsquad_egg:latest \
  #           --amend ghcr.io/${GITHUB_REPOSITORY,,}/bombsquad_egg:debug_${{ github.ref_name }}_x86_64 \
  #           --amend ghcr.io/${GITHUB_REPOSITORY,,}/bombsquad_egg:debug_${{ github.ref_name }}_arm64
  #         docker manifest push ghcr.io/${GITHUB_REPOSITORY,,}/bombsquad_egg:latest

  
